
* {
    margin: 0;
    padding: 0;

}

body {
    overflow-x: hidden;
    background-color:#668cff;
}

.wrapper {

    width: 100%;
    min-height: 100vh;
    height: 450%;
    font-size: 30px;
    font-family: sans-serif;
    color: black;
    padding: 100px 20px 100px;
    box-sizing: border-box;
}

.wrapper:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 500%;
    background: #fff;
    top: 8px;
    padding-left: -3px;
    z-index: 1;
    right: 49.74%;
    animation: moveline 10s linear forwards;
}

@keyframes moveline {
    0% {
        height: 0;
    }

    250% {
        height: 250%;
    }
}

.box-container {
    z-index: 1;
    position: relative;
    /* background-color: aqua; */
}

.box-container:before {
    content: "";
    position: absolute;
    height: calc(100%-400%);
    width: 1px;
    background-color: #f2f2f2;
    left: 50%;
    margin-top: 90px;
}

.each-container {
    background-color:#00ff00;
    color: white;
    padding: 15px;
    margin: 60px 50px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px 2px white;
    height: 10%;
    opacity: 0;
}

h2 {
    color: red;
    font-size: 35px;
}

small {
    color: blue;

}

.event-discription {

    font-size: 22px;
    font-family: sans-serif, serif;
}

.left-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #580854;
    right: -15px;

}

.right-container-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #580854;
    left: -15px;

}

.left-container {
    margin-left: calc(50% + 20px);
    float: left;
    width: 30%;
    animation: moveside 1s linear forwards;
    opacity: 0;

}

@keyframes moveside {
    0% {
        opacity: 0;
        transform: translate(-30px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

.right-container {
    margin-right: calc(50% + 20px);
    float: right;
    width: 30%;
    animation: movedown 1s linear forwards;
    opacity: 0;
}

@keyframes movedown {
    0% {
        opacity: 0;
        transform: translate(30px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

.each-container:nth-child(1) {
    animation-delay: 0s;

}

.each-container:nth-child(2) {
    animation-delay: 1s;

}

.each-container:nth-child(3) {
    animation-delay: 2s;

}

.each-container:nth-child(4) {
    animation-delay: 3s;

}

.each-container:nth-child(5) {
    animation-delay: 4s;

}

.each-container:nth-child(6) {
    animation-delay: 5s;

}

.each-container:nth-child(7) {
    animation-delay: 6s;

}

.each-container:nth-child(8) {
    animation-delay: 7s;

}
@media only screen and (max-width:740px){
    
    .each-container{
        display: block;
    }
    .wrapper:after{
        right: 85%;
        z-index: 0;
    }
    .left-container{
        float: left;
        width: 75%;
        height: auto;
        margin-left: 44px;
    }
    .right-container{
        float: left;
        width: 75%;
        height: auto;
        margin-left: 44px;

    }
    
.left-container-arrow{
   border-left: none;
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top:15px solid transparent ;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #580854;
    left: -15px;
}
.each-container {
    animation: moveside 1s linear forwards;
    opacity: 0;
}

@keyframes moveside {
    0% {
        opacity: 0;
        transform: translate(-30px);
    }

    100% {
        opacity: 1;
        transform: translate(0px);
    }
}
}
